@import "variables.css";

html {
  height: 100%;
  box-sizing: border-box;
  font-size: 1rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: var(--main);
  font-weight: 400;
}

.flex-wrapper {
  flex: 1 0 auto;
  background-image: url("../images/marble-texture.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
  padding: 6rem 0;
}

header {
  background-color: #c3ae9f;
  background-color: var(--navbar);
  background-repeat: no-repeat;
  box-shadow: rgba(217, 206, 199, 0.15) 0px 2px 8px 0px;
}

.navbar {
  width: 85%;
  flex-direction: column;
  margin: 0 auto;
  padding: 0.6rem 0;
}

.nav-left-container {
  display: flex;
}

.brand-logo {
  width: 250px;
  padding: 0.25rem 0 1rem 0;
}

.links-container {
  align-items: center;
  display: none;
}

.nav-link {
  font-family: "lato";
  font-size: 1.125rem;
  color: var(--primary);
  margin-right: 1.5rem;
  padding: 0 0.25rem;
  position: relative;
  top: 2px;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.nav-link:hover {
  opacity: 0.75;
}

.active-link {
  border-bottom: 2px solid var(--text);
}

.nav-link:hover {
  color: var(--primary);
  opacity: 0.75;
}

.icons-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-icon {
  width: 2.75rem;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.nav-icon:hover {
  opacity: 0.75;
}

.dropdown-menu {
  display: none;
  background-color: var(--navbar);
  border: none;
  border-radius: 0;
  width: 100%;
  padding-bottom: 1rem;
}

.dropdown-links-container {
  padding-left: 7.5%;
}

.dropdown-links-container a:hover {
  border-bottom: 2px solid transparent;
}

.dropdown-links-container a {
  color: var(--primary);
  font-size: 1.125rem;
  padding-left: 0.5rem;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 6rem;
}

.products {
  padding-top: 3rem;
}

.products-header {
  text-align: left;
  padding-top: 0;
}

.content-container {
  height: 100%;
  min-height: 600px;
  border-radius: 5px 5px 0 0;
  background-color: #ffffff99;
  box-shadow: rgba(217, 206, 199, 0.15) 0px 2px 8px 0px;
  padding: 3rem 4rem 3rem 4rem;
}

.main-prod-image {
  margin-bottom: 3rem;
  border: 15px;
  display: none;
}

.main-prod-image-small {
  margin-bottom: 3rem;
  border: 15px;
}

.main-prod-image img {
  width: 100%;
  height: auto;
  filter: saturate(95%) brightness(103%) contrast(95%)
    drop-shadow(0px 8px 5px rgb(217 206 199 / 1));
}

.main-prod-image-small img {
  border-radius: 10px;
  width: 100%;
  height: auto;
  filter: saturate(95%) brightness(103%) contrast(95%)
    drop-shadow(0px 8px 5px rgb(217 206 199 / 1));
}

h1 {
  font-family: var(--headings);
  font-size: 2.5rem;
  font-weight: 300;
  color: var(--primary);
  padding-bottom: 1rem;
}

h1.products {
  padding-top: 0;
}

h2 {
  font-family: var(--main);
  font-size: 1.125rem;
  color: var(--primary);
  font-weight: bold;
  font-style: italic;
  /* color: var(--text); */
  /* text-decoration: underline; */
}

h2:nth-child(4) {
  margin-top: 2rem;
}

.main-paragraph {
  /* font-family: "cabin"; */
  color: var(--text);
  font-size: 1rem;
  line-height: 1.6;
}

.main-image {
  height: 700px;
  background-image: url("../images/home-decor-main.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 0 0 5px 5px;
  box-shadow: rgba(217, 206, 199, 0.15) 0px 2px 8px 0px;
  opacity: 0.9;
}

.card {
  max-width: 400px;
  border: none;
  border-radius: 5px;
  padding-bottom: 1rem;
  background-color: #ffffff;
  box-shadow: rgba(217, 206, 199, 0.15) 0px 2px 8px 0px;
  margin: 0 auto;
}

.btn {
  font-family: "montserrat";
  /* text-transform: uppercase; */
  border-radius: 25px 0 25px 0;
  display: block;
  width: 180px;
  margin-bottom: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  background-color: var(--accent);
  color: white;
  border: none;
  font-size: 1.125rem;
  transition: background-color 0.3s ease-out;
}

.btn:hover {
  background-color: #435e5bcc;
  color: white;
}

.btn-main {
  color: var(--primary);
  margin: 3rem auto 1rem auto;
  background-color: transparent;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: 2px solid var(--primary);
  border-radius: 0;
}

.btn-main:hover {
  background-color: #435e5b;
}

h3 {
  font-family: var(--headings);
  font-size: 2rem;
  color: var(--primary);
}

.card-img-top {
  border-radius: 5px 5px 0 0;
}

.card-text {
  color: var(--text);
}

.category {
  font-weight: bold;
  font-style: italic;
  color: var(--text);
}

.price {
  font-family: var(--headings);
  font-size: 1.75rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
}

footer {
  background-color: var(--footer);
  background-color: #e6d3c5;
  color: var(--text);
  flex-shrink: 0;
  padding: 1rem 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 0 auto;
  gap: 1rem;
  justify-content: space-between;
}

.copy::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f1f9";
  padding-right: 0.25rem;
}

.footer-list,
.footer-icons,
.footer-contact {
  margin: 0;
  padding: 0;
}

.footer-list {
  padding-bottom: 1rem;
}

.footer-icons {
  display: flex;
  font-size: 1.75rem;
  list-style: none;
}

.footer-list li {
  cursor: pointer;
  padding-bottom: 0.25rem;
}

.footer-icons i {
  padding-right: 1.5rem;
  cursor: pointer;
}

.support-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-list,
.footer-contact {
  list-style: none;
}

.footer-contact i {
  padding-right: 0.5rem;
}

.footer-contact li {
  cursor: pointer;
}

#contact {
  font-weight: bold;
  padding-bottom: 0.25rem;
}

.fa-envelope,
.fa-phone {
  font-size: 1.25rem;
}

.fa-envelope {
  padding-bottom: 0.6rem;
}

/* media queries */

@media (min-width: 768px) {
  .main-wrapper {
    flex-direction: row;
  }

  .navbar {
    flex-direction: row;
  }

  .brand-logo {
    margin-right: 3rem;
    padding: 0.15rem 0;
  }

  .icons-container {
    width: auto;
    justify-content: flex-start;
  }

  .nav-icon {
    margin-left: 1.5rem;
  }

  .content-container {
    flex: 1;
    border-radius: 5px 0 0 5px;
  }

  .main-image {
    height: auto;
    flex: 1;
    border-radius: 0 5px 5px 0;
  }

  .footer-container {
    flex-direction: row;
    align-items: flex-start;
  }

  .footer-list {
    padding: 0;
  }

  .support-wrapper {
    width: 40%;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 992px) {
  .links-container {
    display: flex;
  }

  #hamburger {
    display: none;
  }

  .dropdown-menu {
    display: none;
  }

  .main-prod-image {
    margin-bottom: 6rem;
    display: block;
  }

  .main-prod-image-small {
    margin-bottom: 6rem;
    display: none;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 1.125rem;
  }

  nav {
    width: 85%;
  }

  .content-container {
    flex: 3;
  }

  h1 {
    font-size: 3rem;
  }

  .main-image {
    flex: 2;
  }

  .main-paragraph {
    font-size: 1.125rem;
  }
}

@media (min-width: 1400px) {
  .wrapper {
    width: 85%;
  }
}

@media (min-width: 1600px) {
  .navbar,
  .footer-container {
    width: 80%;
  }
  .wrapper {
    width: 75%;
  }
}
